<?xml version="1.0"?>
<launch>

  <param name="workObjectPath" value="$(find descartes_tutorials)/meshes/beam.stl"/>
  <param name="workObjectID" value="beam"/>
  <param name="local_path" value="$(find descartes_tutorials)/data/"/>
  <node name="test_move_group" pkg="descartes_tutorials" type="test_move_group" output="screen" />
  
</launch>